.title-productos {
    font-size: 42px;
    color: var(--blue);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
}

.p-productos {
    margin-top: 10px;
    color: var(--darkGrey);
}

/* CARD */


.box-card {
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
}


.box-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35)0px 5px 15px;
}


.imagen-item {
    width: 150px;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 50px;
}

.filter {
    padding-top: 20px;
    margin-bottom: 20px;
}

.categories h3 {
    color: var(--blue);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.categories li {
    list-style: none;
    margin-top: 20px;
    color: var(--blue);
    cursor: pointer;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}


.precio {
    font-size: 20px;
    font-weight: bold;
}

.btn-card {
    background-color: var(--yellow1);
    color: var(--blue);
    text-decoration: none;
    bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5%;

}

.fuente {
    font-size: 40px;
}

.stock-card-productos {
    color: var(--darkGrey);
}



/* ITEM DETAIL */

.img-detalle-producto {
    border: solid var(--grey) 1px;
}

.descripcion {
    font-size: 20px;
}

.precio-detail {
    font-size: 30px;

}

.info {
    font-size: 15px;
    color: var(--LightBlueHover);
}
























